<h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
<img
  src="<%= vehicle.inv_image %>"
  alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>"
/>
<p>Price: $<%= new Intl.NumberFormat("en-US").format(vehicle.inv_price) %></p>
<p>
  Mileage: <%= new Intl.NumberFormat("en-US").format(vehicle.inv_miles) %> miles
</p>
<p>Color: <%= vehicle.inv_color %></p>
